<app-navbar></app-navbar>
<div class="my-5 p-3">
 
    <div  *ngFor="let r of [].constructor(row);let i = index" class="row mt-5">
        <div    *ngFor="let c of [].constructor(getColumn(i))"class="col-3">
            <div class="card"> <div class="card-header card-header-success card-header-icon" >
         
          <div  style="float:right;" >
           
            
            <div class="p-2" style="font-size: 20px;"> {{courses[increaseIndex()]['courseName']}} </div>   
        </div>
        </div></div>
        </div>
    </div>

</div>