<div class=" card">
    <div class="card-header card-header-success card-header-icon">
      <div class="card-icon"><i class="bx bx-globe"></i></div>
      <h4 class="card-title">Global Sales by Top Locations</h4>
    </div>
<div class="card-body">
   <p-table [value] ="product" [tableStyle]="{'min-width':'50rem'}">
    <ng-template pTemplate="header">
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
      </tr>
  </ng-template>
   </p-table>
</div>

</div>
