<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon" [style]="{ backgroundColor: '#56af5a' }">
          <i class="bx bx-list-ul"></i>
        </div>
        <h4 class="card-title">Intern List</h4>
      </div>
      <div class="card-body">
        <p-table [value]="sliceInternList|filter:searchWord:'Name'"[tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header"   >
            <tr>
              <th *ngFor="let cat of category">{{ cat }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-i="rowIndex" let-intern>
            <tr>
              <td>{{ intern.Id }}</td>
              <td>{{ intern.Name }}</td>
              <td *ngIf = "!edit"  list="programmingLanguages" [attr.contenteditable]="edit" (blur)="onBlur()" (click)="onClick($event)" (dblclick)="onDblClick($event)">{{ intern.Mentor }}</td>
            <td  *ngIf="edit" >
              <input  (change)="saveCode($event)" [attr.value]="intern.Mentor" type="text" list="programmingLanguages">
              <button class="btn px-2" (click)=" onOptionClick(i)"><i style="color: var(--font-color);" class="bx bx-save"></i></button>
            </td>  
              
              <datalist  id="programmingLanguages">
                <option *ngFor="let mentor of mentors"[ngValue]="mentor" >{{mentor['person']['firstName'] +' ' +mentor['person']['lastName']}}</option>
                
               
            </datalist>
              
              
              <td>{{ intern.Courses }}</td>
              <td>
                {{ intern.Progress }}
                <div class="progress">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    [style.width.%]="[intern.Progress]"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <app-paginator *ngIf="totalSize" (change)="onChange($event)" [totalSize]="totalSize" [pageSize]="pageSize"></app-paginator>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-xs-12 mb-3 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon" [style]="{ backgroundColor: '#fd970f' }">
          <i class="bx bx-wallet"></i>
        </div>
        <div style="float: right">
          <h6 class="card-title mr-2" style="text-align: end">Revenue</h6>

          <div class="p-2" style="font-size: 26px">{{ "$" + revenue }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 mb-3 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon" [style]="{ backgroundColor: '#e32f6e' }">
          <i class="bx bx-list-ul"></i>
        </div>

        <div style="float: right">
          <h6 class="card-title mr-2" style="text-align: end">Employees</h6>

          <div class="p-2" style="font-size: 26px">{{ employeeCount }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 mb-3 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon" [style]="{ backgroundColor: '#56af5a' }">
          <i class="bx bx-id-card"></i>
        </div>
        <div style="float: right">
          <h6 class="card-title mr-2" style="text-align: end">Interns</h6>

          <div class="p-2" style="font-size: 26px">{{ internCount }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 mb-3 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon" [style]="{ backgroundColor: '#1ec0d5' }">
          <i class="bx bx-book-content"></i>
        </div>
        <div style="float: right">
          <h6 class="card-title mr-2" style="text-align: end">Courses</h6>

          <div class="p-2" style="font-size: 26px">{{ internCount }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

 
