<div class=" card">
    <div class="card-header card-header-success card-header-icon">
      <div class="card-icon"><i class="bx bx-globe"></i></div>
      <h4 class="card-title">Intern List</h4>
    </div>
<div class="card-body">
   <p-table [value] ="interns" [tableStyle]="{'min-width':'50rem'}">
    <ng-template pTemplate="header">
      <tr>
          <th *ngFor = "let cat of category;let i = index">{{cat}}</th>
          
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-intern>
      <tr>
          <td>{{ intern.Id }}</td>
          <td>{{ intern.Name }}</td>
          <td>{{ intern.Mentor }}</td>
          <td>{{ intern.courses }}</td>
      </tr>
  </ng-template>
   </p-table>
</div>

</div>
