<div
  class="modal fade"
  tabindex="-1"
  aria-labelledby="exampleModalLabel1"
  aria-hidden="true"
  id="exampleModal1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Interns List</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="ml-0 modal-body">
        <ul>
          <li
            class="mr-5 mb-4 card text-muted"
            *ngFor="let intern of internsList"
          >
            <div class="col-3">
              <h6>{{ intern.person.firstName }}</h6>
              <span>{{ intern.person.address.cityName+", "+intern.person.address.countryName }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
