.modal-body ul {
  list-style-type: none;
  padding-inline-start: 0px;

}
.modal-body ul li {
   padding-left: 5px;
   padding-right:  5px;
   padding-top: 10px;
   padding-bottom: 10px; 
   vertical-align: middle;

}
