<nav class="navbar justify-content-between">
    <a class="navbar-brand">{{header}}</a>
    <form class="d-flex form-inline">
        <input class="form-control mx-2 mr-sm-2 imp" type="search" placeholder="Search" aria-label="Search">
        <button class="btn-pri mx-2 my-2" type="submit">
            <i class="bx bx-search"></i>
        </button>
        <button class="btn-pri mx-2 my-2" type="submit">
            <i class="bx bx-notification"></i></button>
        <button class=" btn-pri mx-2 my-2" type="submit">
            <i class="bx bx-user"></i></button>
    </form>
</nav>