.navbar-right {
    float: right!important;
    margin-right: 0px;
}

.btn-raised {
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 2px 5px 0 var(--heading-color)
}
.btn-raised:not([disabled]):active,
.btn-raised:not([disabled]):focus,
.btn-raised:not([disabled]):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    transform: translate3d(0, -1px, 0)
}
.btn-pri{
    font-size: 24px;
    height: 36px;
    min-width: 36px;
    width: 36px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 36px;
    background-color: transparent !important;
    border: none;
    border-radius: 10px;
    color: var(--heading-color);
 
}
.btn-pri:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    transform: translate3d(0, -1px, 0);
}
.form-control:focus,.form-control:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4); 
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--font-color);
}

/* theme button css */
.theme-switch-wrapper {
    
    align-items: center;
    margin-left : auto;
  
   
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    
    margin-top: 5px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  